
.a li{
    
    float: left;
    list-style: none;
    padding: 10px ;
    padding: 10px ;
    text-decoration: none;
}
.a{
    background-color: rgb(212, 179, 142);
}
.a ul{
    overflow: auto;
    padding-left: 100px;
}
.a li a{
    color: rgb(155, 83, 2);
    text-decoration: none;
}